<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/menu.css">
    <title>Menu | Restaurant KEA </title>
</head>
<body>
    <header>
        <h1>Restaurant KEA</h1>
    </header>
    <nav>
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="/views/menu.html"class="selected">Menu</a></li>
            <li><a href="/views/contact.html">Contact</a></li>
        </ul>
    </nav>
    <main>
        <article class="dish">
            <img src="/assets/images/salad.jpg" alt="salad">
            <h3>Turing Salad</h3>
            <p class="ingredients">
                Sun-dried tomatos and feta cheese on top of a thin layer of lettuce. Choose between our balsamic,
                mustard or barbecue dressing.
            </p>
            <p class="price">
                75 kr.
            </p>
        </article>
        <article class="dish">
            <img src="/assets/images/pizza.jpg" alt="pizza">
            <h3>Turing Salad</h3>
            <p class="ingredients">
                Tomato, mozzarella, pepperoni and rucula. Choose between our thin or thick bread base.
            </p>
            <p class="price">
                80 kr.
            </p>
        </article>
        <article class="dish">
            <img src="/assets/images/burger.jpg" alt="burger">
            <h3>Turing Salad</h3>
            <p class="ingredients">
                Tomato, mozzarella, pepperoni and rucula. Choose between our thin or thick bread base.
            </p>
            <p class="price">
                80 kr.
            </p>
        </article><article class="dish">
            <img src="/assets/images/icecream.jpeg" alt="icecream">
            <h3>Turing Salad</h3>
            <p class="ingredients">
                Delightful strawberry icecream topped with actual strawberries. In cone or vase. Multiple toppings available.
            </p>
            <p class="price">
                65 kr.
            </p>
        </article>
    </main>
    <footer>
        <p>&copy; 2024 KEA Development</p>
    </footer>
</body>
</html>